<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<global-method-security secured-annotations="enabled"
		pre-post-annotations="enabled">
<!-- 		<expression-handler ref="methodSecurityExpressionHandler" /> -->
	</global-method-security>

	<http pattern="/res/**" security="none" />
	<http pattern="/upload/**" security="none" />

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/gugudan/*" access="permitAll " />
		<intercept-url pattern="/echo/**" access="permitAll " />
		<intercept-url pattern="/login.java6" access="permitAll " />
		<intercept-url pattern="/check/*" access="permitAll " />
		<intercept-url pattern="/captcha/*" access="permitAll " />
		<intercept-url pattern="/join.java6" access="permitAll " />
		<intercept-url pattern="/security/login" access="permitAll " />
		<intercept-url pattern="/board/*" access="permitAll " />
		<intercept-url pattern="/popup/**" access="permitAll " />
		<intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
		
		<csrf disabled="true"/>
		
		
		<form-login login-page="/login.java6" 
			default-target-url="/main/index.java6" 
			login-processing-url="/security/login" 
			always-use-default-target="true"
			authentication-failure-url="/login.java6?error=1" 
			username-parameter="loginId"
			password-parameter="loginPw" 
			authentication-success-handler-ref = "authenticationSuccess" />
		<session-management>
			<concurrency-control max-sessions="1"
				error-if-maximum-exceeded="false" />
		</session-management>
		<logout logout-success-url="/login.java6" logout-url="/logout.java6" />
	</http>
	
	<beans:bean id = "authenticationSuccess" class = "kr.co.don.common.security.AuthenticationSuccess"/>
	<beans:bean id="userDetailService"
		class="kr.co.don.common.security.UserDetailService" />

	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="userDetailService">
			<password-encoder hash="plaintext" base64="true" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>